body{
    background-color: #c92020;
}

.card-filme{
    transition: 0,3s;
    cursor: pointer;
}

.card-filme:haver {
    transform: scale(1.03);
}

.card-filme img {
    height: 400px;
    object-fit: cover;
}